<table align="center" cellspacing="0" style="width:100%">
	<tbody>
		<tr>
			<td style="background-color:#eeeeee">
			<table align="center" cellspacing="0" style="width:600px">
				<tbody>
					<tr>
						<td>
						<table cellspacing="0" style="width:100%">
							<tbody>
								<tr>
									<td colspan="4" style="background-color:#ffffff; vertical-align:top"><a href="https://{{settings_domain_bkol}}"><img alt="Bursa Kerja Cimahi" src="http://bkol.malayeka.id/img/logo-bkol-new.png" style="height:72px; width:267px" /></a></td>
								</tr>
							</tbody>
						</table>

						<table cellspacing="0" style="width:100%">
							<tbody>
								<tr>
									<td style="background-color:white; vertical-align:top">
									<table cellspacing="0" style="width:100%">
										<tbody>
											<tr>
												<td style="text-align:center">
												<h1>Lowongan Kerja Baru di {{ settings_site_name_bkol }}</h1>
												</td>
											</tr>
											<tr>
												<td style="text-align:center">
												<h2>{{ judul_lowongan }}</h2>
												</td>
											</tr>
											<tr>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<td>
												<hr /></td>
											</tr>
											<tr>
												<td>
												<p>Hello {{ user_username }}</p>

												<p>Rekomendasi Lowongan Kerja Baru untuk anda</p>

												<table cellspacing="0" style="width:100%">
													<tbody>
														<tr>
															<th colspan="3" style="width:100%">
															<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px; text-align:left">DETAIL LOWONGAN</div>
															</th>
														</tr>
														<tr>
															<td style="width:50%">&nbsp;</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Posisi Jabatan</strong></td>
															<td>:</td>
															<td style="width:50%">{{jabatan }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Range Gaji</strong></td>
															<td>:</td>
															<td style="width:50%">{{ gaji }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Deskripsi Pekerjaan</strong></td>
															<td>:</td>
															<td style="width:50%">{{ deskripsi_pekerjaan }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Penempatan</strong></td>
															<td>:</td>
															<td style="width:50%">{{ penempatan }}</td>
														</tr>
														<tr>
															<th colspan="3" style="text-align:left; width:100%">
															<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">KUALIFIKASI</div>
															</th>
														</tr>
														<tr>
															<td style="width:50%"><strong>Jenis Kelamin</strong></td>
															<td>:</td>
															<td style="width:50%">{{ jenis_kelamin }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Usia Maksimal</strong></td>
															<td>:</td>
															<td style="width:50%">{{ usia_maksimal }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Pendidikan Terkahir</strong></td>
															<td>:</td>
															<td style="width:50%">{{ pendidikan_terakhir }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Jurusan Pendidikan</strong></td>
															<td>:</td>
															<td style="width:50%">{{ jurusan_pendidikan }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Status Pernikahan</strong></td>
															<td>:</td>
															<td style="width:50%">{{ status_perkawinan }}</td>
														</tr>
														<tr>
															<td style="width:50%"><strong>Berlaku Hingga</strong></td>
															<td>:</td>
															<td style="width:50%">{{ berlaku_hingga }}</td>
														</tr>
														<tr>
															<th colspan="3" style="text-align:left; width:100%">
															<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">PERSYARATAN BERKAS LOWONGAN</div>
															</th>
														</tr>
														<tr>
															<td colspan="3" style="width:100%">{{ berkas_lowongan }}</td>
														</tr>
														<tr>
															<th colspan="3" style="text-align:left; width:100%">
															<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">PERSYARATAN UMUM</div>
															</th>
														</tr>
														<tr>
															<td colspan="3" style="width:100%">{{ syarat_umum }}</td>
														</tr>
														<tr>
															<th colspan="3" style="text-align:left; width:100%">
															<div style="background:#eeeeee; border:1px solid #cccccc; padding:5px 10px">DETAIL PERUSAHAAN</div>
															</th>
														</tr>
														<tr>
															<th style="text-align:left; width:50%">Nama Perusahaan</th>
															<td>:</td>
															<td style="width:50%">{{ nama_perusahaan }}</td>
														</tr>
														<tr>
															<th style="text-align:left; width:50%">Alamat Perusahaan</th>
															<td>:</td>
															<td style="width:50%">{{ alamat_perusahaan }}</td>
														</tr>
														<tr>
															<th style="text-align:left; width:50%">Nomor Telepon</th>
															<td>:</td>
															<td style="width:50%">{{ telepon_perusahaan }}</td>
														</tr>
														<tr>
															<th style="text-align:left; width:50%">Sektor Usaha</th>
															<td>:</td>
															<td style="width:50%">{{ sektor_usaha }}</td>
														</tr>
														<tr>
															<th colspan="3" style="width:100%">
															<div style="background:#f68633; border:1px solid #cccccc; padding:5px 10px"><strong><a href="{{detail_lowongan}}">LAMAR SEKARANG</a></strong></div>
															</th>
														</tr>
													</tbody>
												</table>
												</td>
											</tr>
											<tr>
												<td>&nbsp;</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
								<tr>
									<td style="background-color:#00a4de; text-align:center">
									<table cellspacing="0" style="width:100%">
										<tbody>
											<tr>
												<td style="text-align:center; vertical-align:middle; width:580px">
												<p><strong>{{ settings_site_name_bkol }}</strong><br />
												Jln. Raden Demang Hardjakusumah</p>

												<p>Komplek Perkantoran</p>

												<p>Pemkot Cimahi</p>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
