<table align="center" cellspacing="0" style="width:100%">
	<tbody>
		<tr>
			<td style="background-color:#eeeeee">
			<table align="center" cellspacing="0" style="width:600px">
				<tbody>
					<tr>
						<td>
						<table cellspacing="0" style="width:100%">
							<tbody>
								<tr>
									<td style="background-color:#ffffff; vertical-align:top"><a href="https://{{settings_domain_bkol}}"><img alt="Bursa Kerja Cimahi" src="http://bkol.malayeka.id/img/logo-bkol-new.png" style="float:left; height:72px; width:267px" /></a></td>
								</tr>
								<tr>
									<td style="background-color:#ffffff; text-align:center">{{ settings_site_name_bkol }}</td>
								</tr>
								<tr>
									<td style="background-color:#ffffff">
									<p>Hello {{ user_username }}</p>

									<p>Ada Pelamar Baru nih untuk Perusahaanmu</p>

									<p>&nbsp;</p>
									</td>
								</tr>
								<tr>
									<td style="background-color:#ffffff">
										<table>
											<tr>
												<td>Nama Pelamar</td><td>:</td><td>{{ nama_pelamar }}</td>
											</tr>
											<tr>
												<td><a href="{{resume_pelamar}}">Lihat Detail Pelamar</a> </td>
											</tr>
											<tr>
												<td></td>
											</tr>
											<tr>
												<td></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="background-color:#00a4de; text-align:center">
									<table cellspacing="0" style="width:100%">
										<tbody>
											<tr>
												<td style="text-align:center; vertical-align:middle; width:580px">
												<p><strong>{{ settings_site_name_bkol }}</strong><br />
												Jln. Raden Demang Hardjakusumah</p>

												<p>Komplek Perkantoran</p>

												<p>Pemkot Cimahi</p>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
