{% extends 'bkol/bkol-dashboard.twig' %}

{% block title %}Berita{% endblock %}

{% block stylesheets %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block page %}
<div class="px-3">
  <div class="hr-theme d-flex  align-items-center">
    <div class="hr-title">
      <h3 class="title-section">List Agenda Kegiatan</h3>
    </div>
    <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line.png')"></div>
    <a href="{% if auth.hasAccess('perguruan-tinggi.view') %}{{ path_for('pt-dashboard-agenda-add') }}{% endif %}{% if auth.hasAccess('lpk.view') %}{{ path_for('lpk-dashboard-agenda-add') }}{% endif %}{% if auth.hasAccess('bkk.view') %}{{ path_for('bkk-dashboard-agenda-add') }}{% endif %}{% if auth.hasAccess('companies.view') %}{{ path_for('perusahaan-dashboard-agenda-add') }}{% endif %}" class="btn btn-sm btn-primary waves-effect">
        <span>Buat Agenda</span>
    </a>
  </div>
  <br>
  <div class="table-responsive">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="posts-table">
            <thead>
                <tr>
                    <th width="50%">Judul Kegitatan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% if posts|length == 0 %}
                    <tr class="text-center">
                        <td colspan="4">Belum ada Kegiatan</td>
                    </tr>
                {% endif %}

                {% for r in posts %}
                 <tr>
                    <td>{{r.agendatitle}}</td>
                    <td>
                        {% if auth.hasAccess('perguruan-tinggi.view') %}
                            <a class="btn" href="{{path_for('pt-dashboard-agenda-edit', {'post_id': r.id })}}">Edit</a>
                            {% if r.status == 1 %}
                            <form action="{{ path_for('pt-dashboard-agenda-unpublish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}'" />
                                {{csrf()}}
                                <button class="btn btn-warning btn-delete  btn-xs swal-confirm" data-swtitle="Anda Yakin?"
                                data-swmessage="Status Berita ini akan Berubah Menjadi Draft." data-toggle="tooltip"
                                data-placement="top" title="Pindah ke Draft">
                                <span class="fa fa-fw fa-close"></span>
                                </button>
                            </form>
                            {% else %}
                            <form action="{{ path_for('pt-dashboard-agenda-publish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn  btn-success btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Publikasi" data-swtitle="Anda Yakin?" data-swmessage="Publikasikan Berita Ini.">
                                <span class="fa fa-fw fa-check"></span>
                                </button>
                            </form>
                            <form action="{{ path_for('pt-dashboard-agenda-delete') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn btn-delete btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Hapus" data-swtitle="Anda Yakin?" data-swmessage="Data ini akan dihapus secara permanen.">
                                <span class="fa fa-fw fa-trash"></span>
                                </button>
                            </form>
                            {% endif %}
                        {% endif %}

                        {% if auth.hasAccess('lpk.view') %}
                            <a class="btn" href="{{path_for('lpk-dashboard-agenda-edit', {'post_id': r.id })}}">Edit</a>
                            {% if r.status == 1 %}
                            <form action="{{ path_for('lpk-dashboard-agenda-unpublish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}'" />
                                {{csrf()}}
                                <button class="btn btn-warning btn-delete  btn-xs swal-confirm" data-swtitle="Anda Yakin?"
                                data-swmessage="Status Berita ini akan Berubah Menjadi Draft." data-toggle="tooltip"
                                data-placement="top" title="Pindah ke Draft">
                                <span class="fa fa-fw fa-close"></span>
                                </button>
                            </form>
                            {% else %}
                            <form action="{{ path_for('lpk-dashboard-agenda-publish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn  btn-success btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Publikasi" data-swtitle="Anda Yakin?" data-swmessage="Publikasikan Berita Ini.">
                                <span class="fa fa-fw fa-check"></span>
                                </button>
                            </form>
                            <form action="{{ path_for('lpk-dashboard-agenda-delete') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn btn-delete btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Hapus" data-swtitle="Anda Yakin?" data-swmessage="Data ini akan dihapus secara permanen.">
                                <span class="fa fa-fw fa-trash"></span>
                                </button>
                            </form>
                            {% endif %}
                        {% endif %}

                        {% if auth.hasAccess('bkk.view') %}
                            <a class="btn" href="{{path_for('bkk-dashboard-agenda-edit', {'post_id': r.id })}}">Edit</a>
                            {% if r.status == 1 %}
                            <form action="{{ path_for('bkk-dashboard-agenda-unpublish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}'" />
                                {{csrf()}}
                                <button class="btn btn-warning btn-delete  btn-xs swal-confirm" data-swtitle="Anda Yakin?"
                                data-swmessage="Status Berita ini akan Berubah Menjadi Draft." data-toggle="tooltip"
                                data-placement="top" title="Pindah ke Draft">
                                <span class="fa fa-fw fa-close"></span>
                                </button>
                            </form>
                            {% else %}
                            <form action="{{ path_for('bkk-dashboard-agenda-publish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn  btn-success btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Publikasi" data-swtitle="Anda Yakin?" data-swmessage="Publikasikan Berita Ini.">
                                <span class="fa fa-fw fa-check"></span>
                                </button>
                            </form>
                            <form action="{{ path_for('bkk-dashboard-agenda-delete') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn btn-delete btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Hapus" data-swtitle="Anda Yakin?" data-swmessage="Data ini akan dihapus secara permanen.">
                                <span class="fa fa-fw fa-trash"></span>
                                </button>
                            </form>
                            {% endif %}
                        {% endif %}

                        {% if auth.hasAccess('companies.view') %}
                           <a class="btn" href="{{path_for('perusahaan-dashboard-agenda-edit', {'post_id': r.id })}}">Edit</a>
                            {% if r.status == 1 %}
                            <form action="{{ path_for('perusahaan-dashboard-agenda-unpublish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}'" />
                                {{csrf()}}
                                <button class="btn btn-warning btn-delete  btn-xs swal-confirm" data-swtitle="Anda Yakin?"
                                data-swmessage="Status Berita ini akan Berubah Menjadi Draft." data-toggle="tooltip"
                                data-placement="top" title="Pindah ke Draft">
                                <span class="fa fa-fw fa-close"></span>
                                </button>
                            </form>
                            {% else %}
                            <form action="{{ path_for('perusahaan-dashboard-agenda-publish') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn  btn-success btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Publikasi" data-swtitle="Anda Yakin?" data-swmessage="Publikasikan Berita Ini.">
                                <span class="fa fa-fw fa-check"></span>
                                </button>
                            </form>
                            <form action="{{ path_for('perusahaan-dashboard-agenda-delete') }}" method="post" style="display: inline;">
                                <input type="hidden" name="post_id" value="{{r.id}}" />
                                {{csrf()}}
                                <button class="btn btn-delete btn-xs swal-confirm" data-toggle="tooltip" data-placement="top"
                                title="Hapus" data-swtitle="Anda Yakin?" data-swmessage="Data ini akan dihapus secara permanen.">
                                <span class="fa fa-fw fa-trash"></span>
                                </button>
                            </form>
                            {% endif %}
                        {% endif %}
                        
                        
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}
