{% extends 'bkol/bkol.twig' %}
{% import 'bkol/macros/form.twig' as form %}
{% block stylesheets %}
<link href="{{ asset('bkol/css/bootstrap-social.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<style>
.hr-theme .hr-title .title-section {
            padding-left: 10px;
        }
	
    #tentang .title-section.pencari-kerja {
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: normal;
        color: #333333;
        padding-left: 0;
    }
    ul.tentang-page_list.pencari-kerja {
        padding-left: 60px;
    }
    ul.tentang-page_list.pencari-kerja li {
        font-size: 18px;
        font-weight: lighter;
        line-height: 22px;
        margin-bottom: 15px;
    }
    ul.tentang-page_list.pencari-kerja li::before {
        position: absolute;
        margin-top: 5px;
        font-family: 'icon-bkol';
        content: '\e805';
        color: #de8a43;
        font-size: 35px !important;
        margin-left: -3.1rem;
    }
</style>
<div id="tentang" class="tentang-page container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="hr-theme d-flex" style="margin-bottom: 50px;">
                    <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line.png')"></div>
                    <div class="hr-title">
                        <h5 class="title-section">Daftar Sebagai Admin Perusahaan</h5>
                    </div>
                    <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line.png')"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="tentang-page_section" style="padding-left: 0 !important;">
							<div class="hr-theme d-flex">
								<div class="hr-title">
									<h3 class="title-section pencari-kerja">Manfaat Mendaftarkan Admin Perusahaan dalam SILIMA</h3>
								</div>
							</div>
							<ul class="tentang-page_list pencari-kerja" style="padding-right: 20px">
								<li>Kesempatan menyebarkan Informasi Lowongan Kerja dalam wadah resmi Pemerintah Kota Cimahi dan diinformasikan kepada warga Kota Cimahi.</li>
								<li>Lowongan Kerja yang perusahaan buat akan otomatis terkirim ke email Pencari Kerja yang sesuai dengan lowongan pekerjaan perusahaan.</li>
								<li>Perusahaan akan mendapatkan fitur pengelolaan lowongan kerja dari mulai mereview CV atau Lamaran yang masuk juga menandai pencari kerja yang bagus, mengundang interview hingga merubah status menjadi diterima bekerja atau hingga berhenti bekerja.</li>
								<li>Bagi Perusahaan Dalam Kota Cimahi akan mendapatkan fasilitas website perusahaan untuk menyebarkan informasi perusahaan, berita, kegiatan dan foto-foto sehingga perusahaan tidak perlu lagi memiliki website sendiri.</li>
								<li>Perusahaan dapat mendaftarkan pengelola website dan juga pengelola lowongan kerja.</li>
							</ul>
							<p>
                        </div>
                    </div>

                    <div class="col-md-6">
						
                        <div class="tentang-page_section_right">
                            <div class="hr-theme d-flex">
                                <div class="hr-title">
                                    <h3 class="title-section pencari-kerja">Isi Form Untuk Mendaftar</h3>
                                </div>
                            </div>
							<br>
							<form action="{{ path_for('registerEmployer') }}" method="POST">
							<div class="form-check-inline">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="flag_perusahaan" required value="1">Dalam Kota 
								</label>
								</div>
								<div class="form-check-inline">
								<label class="form-check-label">
									<input type="radio" class="form-check-input" name="flag_perusahaan" required value="2">Luar Kota
								</label>
							</div>
							<br>
							<br>
							{{ form.text('companyname', requestParams['companyname'], 'companyname', 'Nama Perusahaan', null, null,
							'fa-user-circle')
							}}
							{{ form.text('email', requestParams['email'], 'email', 'Email', null, 'email', 'fa-envelope') }}

							{{ form.textarea('companysaddress', requestParams['companysaddress'], 'companysaddress', 'Alamat Perusahaan',
							null,
							'3', 'fa-map-marker') }}

							<div class="form-group row">
								<label  class="col-sm-4 col-form-label" for="provinsi">Provinsi</label>
								<div class="col-sm-8">
								<select name="provinsi_id" id="provinsi" class="form-control" required="required">
									<option>Pilih Provinsi</option>
									{% for daerahs in daerahs %}
									<option name="provinsi" value="{{ daerahs.id }}" id="{{ daerahs.lokasi_provinsi }}">{{
									daerahs.lokasi_nama }}</option>
									{% endfor %}
								</select>
								</div>
							</div>
							<div class="form-group row">
								<label  class="col-sm-4 col-form-label" for="kabupatenkota">Kabupaten/Kota</label>
								<div class="col-sm-8">
								<select name="kabupatenkota_id" id="kabupatenkota" class="form-control" required="required">
									<option>Kabupaten/Kota</option>
								</select>
								</div>
							</div>
							<div class="form-group row">
								<label  class="col-sm-4 col-form-label" for="kecamatan">Kecamatan</label>
								<div class="col-sm-8">
								<select name="kecamatan_id" id="kecamatan" class="form-control" required="required">
									<option>Kecamatan</option>
								</select>
								</div>
							</div>
							<div class="form-group row">
								<label  class="col-sm-4 col-form-label" for="kecamatan">Kelurahan</label>
								<div class="col-sm-8">
								<select name="kelurahan_id" id="kelurahan" class="form-control" required="required">
									<option>Kelurahan</option>
								</select>
								</div>
							</div>
							<hr style="border-bottom: 2px solid #3b3d93;margin-bottom: 1rem;">
							{{ form.text('username', requestParams['username'], 'username', 'Username', null, 'username', 'fa-user-circle-o')
							}}
							{{ form.text('password', null, 'password', 'Password', null, 'password', 'fa-key') }}
							{{ form.text('password-confirm', null, 'password-confirm', 'Confirm password', null, 'password', 'fa-key') }}
							{{ form.custom('recaptcha', recaptcha()) }}
							{{ csrf() }}
							<div class="form-group">
								<button type="submit" class="btn btn-sm btn-block btn-orange">DAFTAR SEKARANG</button>
							</div>
						</form>
                        </div>
						
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}
{{ recaptchaJs() }}
<script type="text/javascript">
	$(document).ready(function () {
		$('.showstore').hide();
		$('.showbrand').hide();
		$('#kecamatan').attr('disabled', 'disabled');
		$('#kabupatenkota').attr('disabled', 'disabled');
		$('#kelurahan').attr('disabled', 'disabled');
		$('#provinsi').attr('disabled', 'disabled');
		$('input:radio[name=flag_perusahaan]').change(function(){
			if($(this).attr("value")=="1"){
				$('#kecamatan').attr('disabled', false);
				$('#kelurahan').attr('disabled', false);
				$('#provinsi').attr('disabled', 'disabled');
				$('#kabupatenkota').attr('disabled', 'disabled');
				$('select#provinsi').append('<option value="12" id="32" selected>Jawa Barat</option>');
				$('select#kabupatenkota').append('<option value="176" id="32/77" selected>KOTA CIMAHI</option>');
				var url = $('meta[name="url"]').attr('content');
				$.ajaxSetup({
					headers: {
						'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
					}
				});
				$.ajax({
					url: '/daerah/kecamatan/32/77',
					type: 'GET',
					success: function (val) {
						$('#kecamatan').html(val);
					}
				});
				$('#kecamatan').change(function () {
					var id = $(this).children(":selected").attr("id");
					$.ajax({
						url: '/daerah/kelurahan/' + id,
						type: 'GET',
						success: function (val) {
						$('#kelurahan').html(val);
						}
					});
				});
			} 
			if($(this).attr("value")=="2"){
				$('#kecamatan').attr('disabled', false).prop('selectedIndex',0);
				$('#kabupatenkota').attr('disabled', false).prop('selectedIndex',0);
				$('#kelurahan').attr('disabled', false).prop('selectedIndex',0);
				$('#provinsi').attr('disabled', false).prop('selectedIndex',0);
				var url = $('meta[name="url"]').attr('content');
				$.ajaxSetup({
					headers: {
						'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
					}
				});
				$('#provinsi').change(function () {
				var id = $(this).children(":selected").attr("id");
					$.ajax({
						url: '/daerah/kabupatenkota/' + id,
						type: 'GET',
						success: function (val) {
						$('#kabupatenkota').html(val);
						}
					});
				});
				$('#kabupatenkota').change(function () {
					var id = $(this).children(":selected").attr("id");
					$.ajax({
						url: '/daerah/kecamatan/' + id,
						type: 'GET',
						success: function (val) {
						$('#kecamatan').html(val);
						}
					});
				});
				$('#kecamatan').change(function () {
					var id = $(this).children(":selected").attr("id");
					$.ajax({
						url: '/daerah/kelurahan/' + id,
						type: 'GET',
						success: function (val) {
						$('#kelurahan').html(val);
						}
					});
				});
			}
		});
	});
</script>
{% endblock %}