{% extends 'bkol/bkol.twig' %}

{% import 'bkol/macros/form.twig' as form %}



{% block page %}
<div class="container">
    {% include 'bkol/inc/flash.twig' %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-md-4 col-sm-12 col-12">
            <div class="login-form"  >
                <div class="panel py-3 bg-white" style="border-top: 10px solid #00ccff;">
                    <img class="img-fluid" src="{{base_url()}}/img/logo-silima.png">
                </div>
                <div class="p-4 text-white">
                    <form action="{{ path_for('login') }}" method="POST" id="Login">
                        <div class="form-group login-form-group row">
                            <span class="input-group-addon col-2"><i class="fa fa-user"></i></span>
                            <input name="login" value="" id="inputEmail" class="col-10 form-control login-form-control" type="text" placeholder="Nama User atau Email" autocomplete="off">
                        </div>
                        <div class="form-group login-form-group row">
                            <span class="input-group-addon col-2"><i class="fa fa-lock"></i></span>
                            <input name="password" value="" id="inputPassword" type="password" class="col-10 form-control login-form-control"  placeholder="Password">
                         </div>
                         <div class="forgot mb-0">
                            <div class="checkbox d-flex justify-content-between align-items-top">
                                <label style="font-size: 14px;font-weight: 100;">
                                    <input type="checkbox" name="remember"> Ingat Saya
                                </label>
                                <a class="white"href="{{path_for('forgot-password')}}">Lupa Password</a></label>
                            </div>
                        </div>
                        {{ form.custom('recaptcha', recaptcha()) }}
                        {{ csrf() }}
                        <button type="submit" class="btn btn-primary" style="background-color: #ff9933;">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}
    {{ recaptchaJs() }}
{% endblock %}