{% extends 'bkol/bkol.twig' %}

{% import 'bkol/macros/form.twig' as form %}

{% block stylesheets %}
    <link href="{{ asset('dinasker/css/bootstrap-social.min.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}
<div class="container">
<div class="row">
{% include 'bkol/inc/flash.twig' %}
  <div class="col-4">

  </div>
  <div class="col-md-4 col-sm-12 col-12">
  <div class="login-form" >
          <div class="panel py-3 bg-white" style="border-top: 10px solid #00ccff;">
            <h3><b>Rubah Password</b></h3>

          </div>
      <div class="p-4 text-white">
      <form action="{{ currentRoute }}" method="POST">
          {{ form.text('password', null, 'password', 'New Password', null, 'password','fa-key') }}
          {{ form.text('password_confirm', null, 'password_confirm', 'Confirm Password', null, 'password','fa-key') }}
          {{ form.hidden('reminder', requestParams['reminder'], 'reminder') }}
          {{ form.hidden('email', requestParams['email'], 'email') }}
          {{ csrf() }}
          <input type="submit" value="RUBAH PASSWORD" class="btn btn-primary">
      </form>
      </div>
  </div>
  </div>
  </div>
  <div class="col-4">

  </div>
</div>

</div>


{% endblock %}

{% block javascript %}
    {{ recaptchaJs() }}
{% endblock %}
