<table align="center" cellspacing="0" style="width:100%">
	<tbody>
		<tr>
			<td style="background-color:#c6e5ff">
			<table align="center" cellspacing="0" style="padding-bottom:20px; padding-top:20px; width:600px">
				<tbody>
					<tr>
						<td style="width:50%"><a href="https://{{settings_domain_bkol}}"><img alt="Bursa Kerja Cimahi" src="http://{{settings_domain_bkol}}/img/logo-bkol-new.png" style="float:left; height:72px; width:267px" /></a></td>
						<td style="text-align:right; width:50%">
						<table cellspacing="0" style="width:100%">
							<tbody>
								<tr>
									<td style="color:#3b3d93; font-family:'Open Sans Condensed'; font-seze:14px; font-weight:bold; text-align:right; width:90%">Jln. Raden Demang HardjakusumahKomplek Perkantoran Pemkot Cimahi</td>
									<td style="width:10%"><img src="http://{{settings_domain_bkol}}/img/bkol/icon/maps-and-flags.png" style="width:80%" /></td>
								</tr>
								<tr>
									<td style="color:#3b3d93; font-family:'Open Sans Condensed'; font-seze:14px; font-weight:bold; text-align:right; width:90%">+(62)22-6631883</td>
									<td style="width:10%"><img src="http://{{settings_domain_bkol}}/img/bkol/icon/phone-receiver.png" style="width:80%" /></td>
								</tr>
								<tr>
									<td style="color:#3b3d93; font-family:'Open Sans Condensed'; font-seze:14px; font-weight:bold; text-align:right; width:90%">BKOL.CIMAHIKOTA.GO.ID</td>
									<td style="width:10%"><img src="http://{{settings_domain_bkol}}/img/bkol/icon/world.png" style="width:80%" /></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff">
			<table align="center" cellspacing="0" style="width:600px">
				<tbody>
					<tr>
						<td colspan="3" style="background-color:#f3f3f3; padding:25px; width:100%">
						<table cellspacing="0" style="width:100%">
							<tbody>
								<tr>
									<td style="background-image:url('http://{{settings_domain_bkol}}/img/bkol/icon/line.png'); text-align:left; width:20%">&nbsp;</td>
									<td style="color:#3b3d93; font-family:'Open Sans Condensed'; font-size:24px; font-weight:bold; padding:2px; text-align:center; width:60%">EMAIL AKTIVASI</td>
									<td style="background-image:url('http://{{settings_domain_bkol}}/img/bkol/icon/line.png'); text-align:right; width:20%">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="3" style="font-family:'Open Sans'; font-size:14px; padding-top:25px">Hi <strong style="color:#3b3d93; font-weight:bold">{{ user_name }}..&nbsp;</strong></td>
								</tr>
								<tr>
									<td colspan="3" style="font-family:'Open Sans'; font-size:14px; padding-top:25px">Terima kasih telah membuat akun Anda. Untuk memastikan pengalaman terbaik, kami mengharuskan Anda memverifikasi alamat email Anda sebelum Anda dapat mulai menggunakan akun Anda. Untuk melakukannya, cukup klik tautan berikut dan Anda akan segera masuk ke akun Anda.</td>
								</tr>
                                <tr>
									<td colspan="3" style="font-family:'Open Sans'; font-size:14px; padding-top:25px; text-align: center"><a style="background: #F58634; width: 90%; margin: 0 auto; display: block; padding: 10px; color: #fff; border-radius: 10px;" href="{{confirm_url}}">CONFIRM EMAIL</a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td><img alt="" src="http://{{settings_domain_bkol}}/img/bkol/bkol-email.jpg" /></td>
						<td><img alt="" src="http://{{settings_domain_bkol}}/img/bkol/disnaker-email.jpg" /></td>
						<td><img alt="" src="http://{{settings_domain_bkol}}/img/bkol/cimahi-email.jpg" /></td>
					</tr>
					<tr>
						<td colspan="3" style="background-color:#ffffff; background:#ffffff; font-family:'Open Sans'; font-size:10px; padding:28px">
						<p>Pesan ini (termasuk lampiran apa pun) ditujukan hanya untuk penerima dan mungkin berisi informasi rahasia atau istimewa. Retensi, penggunaan, penyalinan, atau sirkulasi yang tidak sah secara tegas dilarang. Jika Anda bukan penerima yang dituju, segera beri tahu pengirim dengan membalas email ini dan kemudian hapus dari sistem Anda. Dinas Tenaga Kerja Kota Cimahi tidak akan dianggap memberikan atau mengesahkan pandangan pribadi apa pun atau konten tidak resmi dari pengirim dan selanjutnya tidak bertanggung jawab atas virus atau gangguan pada email ini. Terima kasih.</p>
						</td>
					</tr>
					<tr>
						<td colspan="3" style="background-color:#3b3d93; background:#3b3d93; color:#ffffff; font-family:'Open Sans'; font-size:12px; padding:20px; text-align:center">
						<p>Copyright 2018 - Dinas Tenaga Kerja Kota Cimahi</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
		</tr>
	</tbody>
</table>
