{% extends 'dashboard/base.twig' %}

{% block title %}{{config['site-name']}} || User Management{% endblock %}

{% block stylesheets %}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/reronsive/2.1.1/css/reronsive.bootstrap4.min.css" rel="stylesheet">
{% if config['oauth2-enabled'] %}
<link href="{{ asset('bkol/css/bootstrap-social.min.css') }}" rel="stylesheet">
{% endif %}
{% endblock %}

{% block page %}

<div class="row card card-body">

    <div class="col-lg-12">
        {% include 'dashboard/ak1/data-ak1/filter.twig' %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Data AK1 - {{page_name}}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a href="{{ path_for('data-ak1-add') }}" class="btn btn-xs btn-outline-primary"><ran class="fa fa-fw fa-plus"></ran>
                    Tambah Data AK1</a>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="table-responsive">
        <table width="100%" class="table table-striped table-bordered table-hover" id="users_table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Tanggal Daftar</th>
                    <th>No.Pencaker</th>
                    <th>nama_lengkap</th>
                    <th>Nomor Induk Kependudukan</th>
                    <th>alamat_lengkap</th>
                    <th>Kelurahan</th>
                    <th>Kecamatan</th>
                    <th>JK</th>
                    <th>Usia</th>
                    <th>No. Tlp</th>
                    <th>Pendidikan</th>
                    <th>E-mail</th>
                    <th>Melamar Ke-</th>
                    <th>Keahlian</th>
                    <th>KET</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% set row = 0 %}
                {% for r in data %}
                {% set row = row + 1 %}
                <tr>
                    <td>{{row}}</td>
                    <td>{{r.tanggal_daftar|date("j F Y")}}</td>
                    <td>{{r.provinsi_id}}{{r.kabupatenlota_id}}/{{r.tanggal_daftar|date("m/d/y")}}/{{r.nomor_pencaker}}</td>
                    <td>{{r.nama_lengkap }}</td>
                    <td>{{r.no_ktp }}</td>
                    <td>{{r.alamat_lengkap }}</td>
                    <td>{{r.kelurahan.lokasi_nama }}</td>
                    <td>{{r.kecamatan.lokasi_nama }}</td>
                    <td>{{r.jenis_kelamin }}</td>
                    <td>{{r.usia }}</td>
                    <td>{{r.no_telp }}</td>
                    <td>{{r.pendidikanterakhir.jenis_pendidikan }}</td>
                    <td>{{r.email }}</td>
                    <td>{{r.melamar_ke }}</td>
                    <td>{{r.keahlian }}</td>
                    <td>{{r.keterangan }}</td>
                    <td>
                        {# <a class="openDetail btn btn-secondary btn-sm" href="javascript:void(0);" data-href="{{ path_for('data-ak1-detail', {'data-ak1': r.ak1_id}) }}">
                            <ran class="fa fa-fw fa-search"></ran></a> #}
                        <a href="{{ path_for('data-ak1-edit', {'ak1_id': r.ak1_id}) }}" class="btn btn-primary btn-sm"
                            role="button"><ran class="fa fa-fw fa-pencil"></ran></a>
                        <br>
                        <form action="{{ path_for('data-ak1-delete') }}" method="post" style="dirlay: inline;">
                            <input type="hidden" name="id" value="{{ r.id }}" />
                            {{csrf()}}
                            <button class="btn btn-danger btn-sm swal-confirm" data-swtitle="Are you sure?" data-swmessage="This category will be permanently deleted.">
                                <ran class="fa fa-fw fa-close"></ran>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {# <div class="tab-wrapper">
            <ul class="tabs clearfix" data-tabgroup="js-tabgroup">
                <li class="tabs-list">
                    <a href="#tab1" class="tabs-list-link is-active">Pengajuan Terbaru</a>
                </li>
                <li class="tabs-list">
                    <a class="tabs-list-link" href="#tab2">
                        Data Lengkap
                    </a>
                </li>
                <li class="tabs-list">
                    <a class="tabs-list-link" href="#tab3">AK1 Sudah Di Cetak</a>
                </li>
            </ul>
            <section id="js-tabgroup" class="tabgroup">
                <div id="tab1" class="tab-content">

                </div>
                <div id="tab2" class="tab-content">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="datalengkap">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>nama_lengkap Lengkap</th>
                                <th>Nomor Pendaftaran</th>
                                <th>Persyaratan <br>Dan<br> Kelengkapan Dokumen</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set row = 0 %}
                            {% for r in datalengkap %}
                            {% set row = row + 1 %}

                            <tr>
                                <td><img src="{{ r.photoprofile }}" /></td>
                                <td>{{ r.fullname }}</td>
                                <td>
                                    {% if r.pengajuanAK1.status_pengajuan == 1 %}
                                    <b>Lengkap<b>
                                            {% endif %}
                                </td>
                                <td>{{ r.pengajuanAK1.status_pengajuan }}</td>
                                <td>
                                    <a class="openDetail btn btn-secondary btn-sm" href="javascript:void(0);"  data-href="{{ path_for('data-ak1-detail', {'data-ak1': r.ak1_id}) }}">
                                        <ran class="fa fa-fw fa-search"></ran></a>
                                    <a href="{{ path_for('data-ak1-edit', {'data-ak1': r.ak1_id}) }}" class="btn btn-primary btn-sm"
                                        role="button"><ran class="fa fa-fw fa-pencil"></ran></a>
                                    <br>
                                    <form action="{{ path_for('data-ak1-syarat-belum-lengkap') }}" method="post" style="dirlay: inline;">
                                        <input type="hidden" name="data-ak1" value="{{ r.ak1_id }}" />
                                        {{csrf()}}
                                        <button class="btn btn-danger btn-xs action-prosses" data-swtitle="Kamu Yakin Syarat Dan Dokumennya Belum Lengkap?"
                                            data-swmessage="Jika Iya, Maka Data ini akan di pindahkan ke Pengajuan Terbaru">
                                            Syarat Belum Lengkap
                                        </button>
                                    </form>
                                    <br>
                                    <form action="{{ path_for('data-ak1-syarat-siap-cetak') }}" method="post" style="dirlay: inline;">
                                        <input type="hidden" name="data-ak1" value="{{ r.ak1_id }}" />
                                        {{csrf()}}
                                        <button class="btn btn-success btn-xs action-prosses" data-swtitle="Kamu Yakin Pengajuan Ini Siap Cetak"
                                            data-swmessage="Jika Iya, Maka Data ini akan di pindahkan ke List AK1 Sudah Jadi">
                                            Siap Cetak
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="tab3" class="tab-content">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="siapcetak">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>nama_lengkap Lengkap</th>
                                <th>Nomor Pendaftaran</th>
                                <th>Persyaratan <br>Dan<br> Kelengkapan Dokumen</th>
                                <th>Masa Aktip</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set row = 0 %}
                            {% for r in sudahjadi %}
                            {% set row = row + 1 %}
                            <tr>
                                <td><img src="{{ r.photoprofile }}" /></td>
                                <td>{{ r.fullname }}</td>
                                <td>{{ r.pengajuanAK1.nomor_pendaftaran }}</td>
                                <td>
                                    {% if r.pengajuanAK1.status_pengajuan == 2 %}
                                        <b>Lengkap<b>
                                    {% endif %}
                                </td>
                                <td>{{ r.pengajuanAK1.exp_date }}</td>
                                <td>
                                    <a class="openDetail btn btn-secondary btn-sm" href="javascript:void(0);" data-href="{{ path_for('data-ak1-detail', {'data-ak1': r.ak1_id}) }}">
                                        <ran class="fa fa-fw fa-search"></ran></a>
                                    <a href="{{ path_for('data-ak1-edit', {'data-ak1': r.ak1_id}) }}" class="btn btn-primary btn-sm"
                                        role="button"><ran class="fa fa-fw fa-pencil"></ran></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </section>
        </div> #}


    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/reronsive/2.1.1/js/dataTables.reronsive.min.js"></script>
<script src="https://cdn.datatables.net/reronsive/2.1.1/js/reronsive.bootstrap4.min.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {

        $('#users_table').DataTable({
            responsive: true
        });

        $('.tab-content').hide();
        $('.tab-content:first-child').show();

        $('.tabs-list-link').click(function (e) {
            e.preventDefault();
            const $this = $(this),
                TABGROUP = '#' + $this.parents('.tabs').data('tabgroup'),
                OTHERS = $this.parents('.tabs-list').siblings().find('.tabs-list-link'),
                IS_TARGET = $this.attr('href'),
                IS_ACTIVE = 'is-active',
                JS_TAB_CONTENT = '.tab-content';

            OTHERS.removeClass(IS_ACTIVE);
            $this.addClass(IS_ACTIVE);
            $(TABGROUP).find(JS_TAB_CONTENT).hide();
            $(IS_TARGET).show();
        })
    });

    $('.action-prosses').click(function (e) {

        e.preventDefault();
        var swtitle = $(this).data('swtitle');
        var swmessage = $(this).data('swmessage');
        // var swmessage = 'Data Ini Akan Pindah ke List Data Lengkap';
        var form = $(this).parents(form);

        swal({
            title: swtitle,
            text: swmessage,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Ya',
            cancelButtonText: 'Batalkan'
        }).then(
            function (result) {
                swal("Berhasil!", "Data Sudah Di Pindahkan", "success").then(
                    setTimeout(function () {
                        form.submit();
                    }, 1000)
                );
            },
            function (dismiss) {
                return false;
            }
        ).catch(swal.noop);

    });

    $('.openDetail').on('click',function(){
            var dataURL = $(this).attr('data-href');
            $('.modal-content').load(dataURL,function(){
                $('#myModal').modal({show:true});
                $("#example").rowranizer({vertical_align: 'middle'});
            });
        });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = $('meta[name="url"]').attr('content');
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });

        // $.ajax({
        //     url: '/daerah/kecamatan/32/77',
        //     type: 'GET',
        //     success: function (val) {
        //         $('#kecamatan').html(val);
        //     }
        // });

        $('#provinsi_dalam').change(function () {
            var id = $(this).children(":selected").attr("id");
            $.ajax({
                url: '/daerah/kabupatenkota/' + id,
                type: 'GET',
                success: function (val) {
                    $('#kabupatenkota_dalam').html(val);
                }
            });
        });

        $('#kabupatenkota_dalam').change(function () {
            var id = $(this).children(":selected").attr("id");
            $.ajax({
                url: '/daerah/kecamatan/' + id,
                type: 'GET',
                success: function (val) {
                    $('#kecamatan_dalam').html(val);
                }
            });
        });

        $('#kecamatan').change(function () {
            var id = $(this).children(":selected").attr("id");
            $.ajax({
                url: '/daerah/kelurahan/' + id,
                type: 'GET',
                success: function (val) {
                    $('#kelurahan').html(val);
                }
            });
        });

        $('#kodependidikan').change(function () {
            var id = $(this).children(":selected").attr("id");
            $.ajax({
                url: '/jenispendidikan/kodejurusan/' + id,
                type: 'GET',
                success: function (val) {
                    $('#kodejurusan').html(val);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#dalam').click(function () {
            $('#luarnegeri').hide('fast');
            $('#dalamnegeri').show('fast');
        });
        $('#luar').click(function () {
            $('#dalamnegeri').hide('fast');
            $('#luarnegeri').show('fast');
        });

        $('#dalamluar').click(function () {
            $('#dalamnegeri').hide('fast');
            $('#luarnegeri').hide('fast');
        });


    });

    $(document).ready(function() {
        $('#jenisgoljabatanharapan').select2({
            placeholder: '--Ketik Nama Jabatan--',
            width: '100%'
        });
    });

</script>
{% endblock %}
