<div class="card bkol-side-menu">
    <div class="row sidebar">
        <div class="col-sm-12 pt-3 pb-1">
            <ul class="list-group list-group-flush w-100 side-menu-item">
                <li class="list-group-item">
                    <div class="hr-theme ">
                        <div class="hr-title">
                            <h5 class="title-section">MENU ANDA</h5>
                        </div>
                        <div class="hr-line flex-grow-1" style="background-image: url('{{ base_url() }}/img/bkol/line-2.png')"></div>
                    </div>
                </li>
                <!--
                <li class="list-group-item">
                    <a href="{{ path_for('lpk-dashboard') }}">Dashboard</a>
                </li>
                -->
                <li class="list-group-item">
                    <a href="{{ path_for('profile-lpk') }}">Profil</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path_for('lpk-dashboard-keterampilan') }}">Keterampilan</a>
                </li>

                <li class="list-group-item">
                    <a href="{{ path_for('lpk-dashboard-pelatihan') }}">Pelatihan</a>
                </li>

                <li class="list-group-item">
                    <a href="{{ path_for('lpk-dashboard-berita')}}">Berita</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path_for('lpk-dashboard-agenda')}}">Kegiatan</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path_for('lpk-dashboard-gallery')}}">Album Foto</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path_for('lpk-dashboard-settings-akun')}}">Pengaturan Akun</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path_for('logoutbkol') }}">Keluar</a>
                </li>
            </ul>
        </div>
    </div>

</div>
