

<section class="bkol">
    <div class="container bg-white p-3">
        <div class="row">
             <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                      <h5>Terima <b>{{pelamar.user.datapencarikerja.nama_lengkap}}</b> Untuk Bekerja</h5>
                      {{pelamar.user.datapencarikerja.nama_lengkap}}
                    </div>
                    <div class="card-body">
                        <form action="{{ currentRoute }}" method="POST" role="form">
                            <div class="row">
                                <div class="col-md-12">
                                <div class="form-group input-group-sm">
                                  <div class="form-group">
                                    <label>Di Terima Di Pemerintah</label>
                                    <input disabled type="text" class="form-control" name="diterima_di" value="{{pelamar.post.authorCompanies.companyname}}">
                                  </div>
                                  <div class="form-group">
                                    <label>Domisili Pemerintah (kota/kab)</label>
                                    <input disabled type="text" class="form-control" name="domisili_perusahaan" value="{{pelamar.post.authorCompanies.kabupatenkota.lokasi_nama}}">
                                  </div>
                                  <div class="form-group">
                                    <label>Terhitung Mulai Tanggal</label>
                                    <input required type="date" name="terhitung_mulai_tanggal" class="form-control">
                                  </div>
                                </div>

                                    <div class="form-group">
                                          <button type="submit" name="button" class="btn btn-block btn-primary">SUBMIT</button>
                                    </div>
                                </div>
                                {{ csrf() }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
