{% spaceless %}
<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="//gmpg.org/xfn/11">
	<meta name="theme-color" content="#317EFB"/>
	<title>{% block title %}Bursa Kerja Online Kota Cimahi{% endblock %}</title>
	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' id='mysite-css' href='{{ base_url() }}/css/bkol.min.css' type='text/css' media='all'>
	<link rel='stylesheet' id='mysite-css' href='{{ base_url() }}/libraries/bootstrap/css/bootstrap.min.css' type='text/css'
	 media='all'>
	<link rel='stylesheet' id='mysite-css' href='{{ base_url() }}/libraries/font-awesome-4.7.0/css/font-awesome.min.css'
	 type='text/css' media='all'>
	<link rel='stylesheet' id='mysite-css' href='{{ base_url() }}/libraries/owlcarousel2/assets/owl.carousel.min.css' type='text/css'
	 media='all'>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{{ base_url() }}/css/icons.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/animate.css">
	<link rel="shortcut icon" href="{{ base_url() }}/favicon.ico">
	<link rel='stylesheet'  href='{{ base_url() }}/css/bkol.min.css' type='text/css' media='all'>
	{% block header_include %}{# header include: js, css #}{% endblock %}
	{% block metarobot %}{# Metas definition #}{% endblock %}
	{% block stylesheets %}{# header include: js, css #}{% endblock %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130589397-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-130589397-2');
    </script>
</head>

<body {% block bodyclass %}{% endblock %}>
	<div id="page" class="hfeed site">
		{% block header %}{% include 'bkol/header.twig' %}{% endblock %}
		{% block slide %}{% endblock %}
		<div class="content-wrapper">
			{% if auth.hasAccess('jobseeker.view') %}
			<div class="d-flex flex-row d-md-none d-sm-block p-3 justify-content-between no-gutters" style="background: linear-gradient(to left, #fff, #b4dcff);">
				{% include 'bkol/dashboard/tabs.twig' %}
			</div>
			{% endif %}
			<div class="container">
				<div class="row">
					<div class="bkol-side-menu col-md-3 d-none d-lg-block d-md-block d-sm-none">
						{% if auth.hasAccess('jobseeker.view') %}
							{% include 'bkol/dashboard/sidemenu.twig' %}
						{% endif %}
						{% if auth.hasAccess('companies.view') %}
							{% include 'bkol/dashboard-perusahaan/sidemenu.twig' %}
						{% endif %}
						{% if auth.hasAccess('bkk.view') %}
							{% include 'bkol/dashboard-bkk/sidemenu.twig' %}
						{% endif %}
						{% if auth.hasAccess('lpk.view') %}
							{% include 'bkol/dashboard-lpk/sidemenu.twig' %}
						{% endif %}
						{% if auth.hasAccess('pemerintah.view') %}
							{% include 'bkol/dashboard-pemerintah/sidemenu.twig' %}
						{% endif %}
						{% if auth.hasAccess('perguruan-tinggi.view') %}
							{% include 'bkol/dashboard-perguruan-tinggi/sidemenu.twig' %}
						{% endif %}
					</div>
					<!-- Sidebar -->
					<!-- /#sidebar-wrapper -->
					<main role="main" class="col-md-9 ml-sm-auto col-lg-9">
						{% include 'dashboard/inc/flash.twig' %}
						<div class="content-wrapper bg-white bkol-main-content">
							{% block page %}
						</div>
						{% endblock %}
					</main>
				</div>
			</div>
		</div>
		{% block sidebar %}

		{% endblock %}

	</div><!-- #content -->



	</div><!-- #page -->

	</div>
	</div>
	<script type="text/javascript" src="{{ base_url() }}/libraries/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
	<script type="text/javascript" src="{{ base_url() }}/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
	<script type="text/javascript" src="{{ base_url() }}/js/main.js"></script>
	<script type="text/javascript" src="{{ base_url() }}/js/bkol.js"></script>
	<script type="text/javascript" src="{{ base_url() }}/libraries/jquery.mask.js"></script>
	<script>
		// BY KAREN GRIGORYAN

		$(document).ready(function () {
			/******************************
			    BOTTOM SCROLL TOP BUTTON
			 ******************************/

			// declare variable
			var scrollTop = $(".scrollTop");

			$(window).scroll(function () {
				// declare variable
				var topPos = $(this).scrollTop();

				// if user scrolls down - show scroll to top button
				if (topPos > 100) {
					$(scrollTop).css("opacity", "1");

				} else {
					$(scrollTop).css("opacity", "0");
				}

			}); // scroll END

			//Click event to scroll to top
			$(scrollTop).click(function () {
				$('html, body').animate({
					scrollTop: 0
				}, 800);
				return false;

			}); // click() scroll top EMD

		}); // ready() END
	</script>

	{# Ajax CSRF #}
	<script src="{{ asset('dashboard/js/csrf.min.js') }}"></script>
	<script type="text/javascript">
		AppCSRF.csrfUrl = "/csrf";
	</script>
	{# Custom JS #}
	<script src="{{ asset('bkol/js/custom.min.js') }}"></script>
	<script>
			if ('serviceWorker' in navigator ) {
					window.addEventListener('load', function() {
							navigator.serviceWorker.register('{{ base_url() }}/service-worker.js').then(function(registration) {
									// Registration was successful
									console.log('ServiceWorker registration successful with scope: ', registration.scope);
							}, function(err) {
									// registration failed :(
									console.log('ServiceWorker registration failed: ', err);
							});
					});
			}
	</script>
	{% block javascript %}{% endblock %}
	{% block footer %}{% include 'bkol/footer.twig' %}{% endblock %}

</body>

</html>
{% endspaceless %}
