<!--footer-->
<footer class="bkol-footer">
	<div class="container">
		<div class="row py-3">
			<div class="col-lg-4 col-12 border-line">
				<div class="about-footer item mb-1 text-sm-center text-md-left">
					<div class="about-footer_title"><p>Sistem Link and Match 5 Pilar Ketenagakerjaan</p></div>
					<div class="about-footer_desc"><p class="">Pemerintah Kota Cimahi melalui Dinas<br>Tenaga Kerja Cimahi menyediakan Sistem<br>Link and Match yang menghubungkan<br>5 Pilar Ketenagakerjaan yakni Pencari<br>Kerja, Perusahaan, Pemerintah, Pelatihan<br>dan Akademi di Kota Cimahi dalam satu<br>wadah pencarian Lowongan Pekerjaan.</p></div>
				</div>
			</div>
			<div class="col-lg-6 col-12 border-line">
				<div class="item mb-1">
					<div class="d-flex list-button">
						<img src="{{base_url}}/images/icon/icon-pencaker.png"/>
						<span class="btn-pencari-kerja_text d-flex flex-column">
							<span><b>PENCARI KERJA (Employer)</b></span>
							<span>Khusus untuk warga Kota Cimahi sekaligus pengelolaan Kartu AK-1</span>
						</span>
					</div>
				</div>
				<div class="item mb-1">
					<div class="d-flex list-button">
						<img src="{{base_url}}/images/icon/icon-perusahaan.png"/>
						<span class="btn-pencari-kerja_text d-flex flex-column">
							<span><b>PERUSAHAAN (Company)</b></span>
							<span>Di Kota Cimahi dan juga di seluruh Indonesia.</span>
						</span>
					</div>
				</div>
				<div class="item mb-1">
					<div class="d-flex list-button">
						<img src="{{base_url}}/images/icon/icon-bkk.png"/>
						<span class="btn-pencari-kerja_text d-flex flex-column">
							<span><b>PEMERINTAHAN (Government)</b></span>
							<span>Dinas Tenaga Kerja dan juga dinas lainnya yang terkait.</span>
						</span>
					</div>
				</div>
				<div class="item mb-1">
					<div class="d-flex list-button">
						<img src="{{base_url}}/images/icon/icon-lpk.png"/>
						<span class="btn-pencari-kerja_text d-flex flex-column">
							<span><b>PELATIHAN (Trainer)</b></span>
							<span>Lembaga Pelatihan Kerja di Kota Cimahi.</span>
						</span>
					</div>
				</div>
				<div class="item mb-1">
					<div class="d-flex list-button">
						<img src="{{base_url}}/images/icon/icon-dikti.png"/>
						<span class="btn-pencari-kerja_text d-flex flex-column">
							<span><b>AKADEMI (Academy)</b></span>
							<span>Bursa Kerja Khusus untuk Lulusan SMK dan DIKTI.</span>
						</span>
					</div>
				</div>
			</div>

			<div class="col-lg-2 col-12">
			
				<div class="item item-btn mb-1">
					<a  href="{{ path_for('registerjobseeker')}}" class="d-flex align-items-center">
						<img src="{{base_url}}/images/silima/btn/btn-pencaker-daftar.png"/>
					</a>
				</div>
				<div class="item item-btn mb-1">
					<a  href="{{ path_for('registerEmployer')}}" class="d-flex align-items-center">
						<img src="{{base_url}}/images/silima/btn/btn-perusahaan-daftar.png"/>
					</a>
				</div>
				<div class="item item-btn mb-1">
					<a  href="{{ path_for('registerBkk')}}" class="d-flex align-items-center">
						<img src="{{base_url}}/images/silima/btn/btn-pemerintah-daftar.png"/>
					</a>
				</div>
				<div class="item item-btn mb-1">
					<a  href="{{ path_for('registerLpk')}}" class="d-flex align-items-center">
						<img src="{{base_url}}/images/silima/btn/btn-lpk-daftar.png"/>
					</a>
				</div>
				<div class="item item-btn mb-1">
					<a  href="{{ path_for('registerAkademi')}}" class="d-flex align-items-center">
						<img src="{{base_url}}/images/silima/btn/btn-dikti-daftar.png"/>
					</a>
				</div>
			</div>
			<div id="stop" class="scrollTop">
				<a id="back-to-top" href="#" class="btn btn-outline-dark back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fa fa-angle-up" aria-hidden="true" style="padding: 0 2px;"></i></a>
			</div>

		</div>
	</div>
	<div class="footer-bottom ml-auto text-center">
		<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="copyright">©2018 Disnaker Kota Cimahi | Jln. Raden Demang Hardjakusumah Komplek Perkantoran Pemkot Cimahi | disnaker@cimahikota.go.id | 022-6631883</div>
		</div>
		</div>

	</div>
</footer>
<!--footer-->
