
    <div class="col-sm-12 p-3">
  <div class="input-group">
  <input data-jplist-control="textbox-filter" data-group="list-pt" data-name="my-filter-2"  type="text" value="" placeholder="Filter Berdasarkan Nama" data-clear-btn-id="author-clear-btn" class="form-control"/>
  <div class="input-group-append">
    <button class="btn btn-secondary" type="button" id="author-clear-btn">Clear</button>
  </div>
</div>
</div>
  <div class="col-sm-12 p-3">
    <div class="hr-theme ">
      <div class="hr-title">
        <h5 class="title-section">PROGRAM STUDI</h5>
      </div>
      <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
    </div>
    <ul class="kategori-list">

      {% for r in pstudi %}
        <li class="d-flex justify-content-start align-items-center">
          <input id="programstudi{{ r.id }}" data-name="tags-filter" data-or="filters" type="checkbox" data-jplist-control="checkbox-text-filter" data-path=".programstudi{{ r.id }}" data-group="list-pt" data-name="cb-filter" value="programstudi{{ r.id }}"/>
          <label for="programstudi{{r.id}}" class='cat-check'>{{r.nama}} <span class="badge badge-primary badge-pill">{{r.psdikti.count}}</span></label>
        </li>
      {% endfor %}
    </ul>
  </div>
