
<div class="col-sm-12 p-3">
<div class="input-group">
  <input data-jplist-control="textbox-filter" data-group="lists-lowongan" data-name="my-filter-2" data-path=".nama_lowongan" type="text" value="" placeholder="Filter Berdasarkan Nama" data-clear-btn-id="author-clear-btn" class="form-control"/>

  <div class="input-group-append">
    <button class="btn btn-secondary" type="button" id="author-clear-btn">Clear</button>
  </div>
</div>
    {# <form action="{{path_for('searchbkol')}}" method="GET">
      <div class="form-row align-items-center">
        <div class="col-12">
          <div class="input-group mb-2">
            <input type="text" class="fuzzy-search form-control" id="inlineFormInputGroup" placeholder="Cari lowongan berdasarkan posisi.." name=" search">
            <div class="input-group-prepend">
              <button type="submit" class="btn search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </form> #}
</div>
<div class="col-sm-12 p-3">
<div class="hr-theme d-flex align-items-center">
  <div class="hr-title"><h5 class="title-section">GOLONGAN JABATAN</h5></div>
  <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
</div>
    <ul class="kategori-list">
        {% for jabatan in jobJabatan %}
          <li class="d-flex justify-content-start align-items-center">
            <input id="jabatan{{jabatan.id}}" data-name="filter" data-or="filters" type="checkbox" data-jplist-control="checkbox-text-filter" data-path=".jabatan{{jabatan.id}}" data-group="lists-lowongan" data-name="cb-filter" value="jabatan{{jabatan.id}}"/>
            <label for="jabatan{{jabatan.id}}" class='cat-check'>{{jabatan.jenis_golongan}}</label>
            <span class="badge badge-primary badge-pill">{{category.posts_count}}</span></a>
          </li>
        {% endfor %}
    </ul>
</div>
<div class="col-sm-12 p-3">
  <div class="hr-theme d-flex align-items-center">
    <div class="hr-title"><h5 class="title-section">JENIS PENDIDIKAN</h5></div>
    <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
  </div>
    <ul class="kategori-list">
        {% for r in jobPendidikan %}
          <li class="d-flex justify-content-start align-items-center">
            <input id="pendidikan{{r.id}}" data-name="filter" data-or="filters" type="checkbox" data-jplist-control="checkbox-text-filter" data-path=".pendidikan{{r.id}}" data-group="lists-lowongan" data-name="cb-filter" value="pendidikan{{jabatan.id}}"/>

            <label for="pendidikan{{r.id}}" class='cat-check'>{{r.jenis_pendidikan}}</label>
          </li>
        {% endfor %}
    </ul>
</div>
<div class="col-sm-12 p-3">
<div class="hr-theme d-flex align-items-center">
  <div class="hr-title"><h5 class="title-section">PROVINSI</h5></div>
  <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
</div>

    <ul class="kategori-list">
    {% for r in jobProvinsi %}
    <li class="d-flex justify-content-start align-items-center">
      <input id="jabatan{{r.id}}" data-name="filter" data-or="filters" type="checkbox" data-jplist-control="checkbox-text-filter" data-path=".provinsi{{r.id}}" data-group="lists-lowongan" data-name="cb-filter" value="provinsi{{r.id}}"/>

      <label for="jabatan{{r.id}}" class='cat-check'>{{r.lokasi_nama}}</label>
    </li>
    {% endfor %}
    </ul>
</div>

<div class="col-sm-12 p-3">
<div class="hr-theme d-flex align-items-center">
  <div class="hr-title"><h5 class="title-section">KABUPATEN/KOTA</h5></div>
  <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
</div>

    <ul class="kategori-list">
    {% for r in jobKabupatenkota %}
      <li class="d-flex justify-content-start align-items-center">
      <input id="kabupatenkota{{r.id}}" data-name="filter" data-or="filters" type="checkbox" data-jplist-control="checkbox-text-filter" data-path=".kabupatenkota{{r.id}}" data-group="lists-lowongan" data-name="cb-filter" value="kabupatenkota{{r.id}}"/>
        <label for="kabupatenkota{{r.id}}" class='cat-check'>{{r.lokasi_nama}}</label>
      </li>
    {% endfor %}
    </ul>
</div>

  <div class="col-sm-12 p-3">
  <div class="hr-theme d-flex align-items-center">
    <div class="hr-title"><h5 class="title-section">KATEGORI LOWONGAN</h5></div>
    <div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
  </div>

  <ul class="kategori-list text-capitalize">
    {% for r in jobCategories %}
      <li class="d-flex justify-content-start align-items-center">
      <input id="kategori{{r.id}}" data-name="filter" data-or="filters" type="checkbox" data-jplist-control="checkbox-text-filter" data-path=".kategori{{r.id}}" data-group="lists-lowongan" data-name="cb-filter" value="kategori{{r.id}}"/>
        <label for="kategori{{r.id}}" class='cat-check text-right'>{{r.name}} <span class="badge badge-primary badge-pill">{{r.posts_count}}</span></label>
      </li>

      {% endfor %}
  </ul>
  <button data-jplist-control="reset" data-group="lists-lowongan" class="btn btn-primary btn-block" data-name="RESET" type="button">
    Reset
  </button>
  </div>
