{% extends 'dashboard/base.twig' %}

{% block title %}{{config['site-name']}} || Add New User{% endblock %}

{% block page %}
        <div class="card">
            <div class="header">
                <h2>Add User</h2>
            </div>
            <div class="body">
                <form class="row" action="{{ currentRoute }}" method="POST" role="form">
                    <div class="col-md-6">
                        <div class="form-group form-float{% if has_error('first_name') %} has-error{% endif %}">
                            <div class="form-line">
                                <label class="form-label" for="first_name">First Name</label>
                                <input type="text" name="first_name" class="form-control" id="first_name" value="{% if requestParams.first_name %}{{requestParams.first_name}}{% endif %}" required="required">
                                <span class="help-block">{{ error('first_name') }}</span>
                            </div>
                        </div>

                        <div class="form-group form-float{% if has_error('last_name') %} has-error{% endif %}">
                            <div class="form-line">
                                <label class="form-label" for="last_name">Last name</label>
                                <input type="text" name="last_name" class="form-control" id="last_name" value="{% if requestParams.last_name %}{{requestParams.last_name}}{% endif %}" required="required">
                                <span class="help-block">{{ error('last_name') }}</span>
                            </div>
                        </div>

                        <div class="form-group form-float{% if has_error('email') %} has-error{% endif %}">
                            <div class="form-line">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" name="email" class="form-control" id="email" value="{% if requestParams.email %}{{requestParams.email}}{% endif %}" required="required">
                                <span class="help-block">{{ error('email') }}</span>
                            </div>
                        </div>

                        <div class="form-group form-float{% if has_error('username') %} has-error{% endif %}">
                            <div class="form-line">
                                <label class="form-label" for="username">Username</label>
                                <input type="text" name="username" class="form-control" id="username" value="{% if requestParams.username %}{{requestParams.username}}{% endif %}" required="required">
                                <span class="help-block">{{ error('username') }}</span>
                            </div>
                        </div>

                        <div class="form-group form-float{% if has_error('password') %} has-error{% endif %}">
                            <div class="form-line">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password" value="" required="required">
                                <span class="help-block">{{ error('password') }}</span>
                            </div>
                        </div>

                        <div class="form-group form-float{% if has_error('password_confirm') %} has-error{% endif %}">
                            <div class="form-line">
                                <label class="form-label" for="password_confirm">Confirm Password</label>
                                <input type="password" name="password_confirm" class="form-control" id="password_confirm" value="" required="required">
                                <span class="help-block">{{ error('password_confirm') }}</span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group{% if has_error('roles') %} has-error{% endif %}">
                            <label>User Roles</label>

                            {% for role in roles %}
                                {% set userRole = auth.findById(user.id) %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="roles[]" value="{{role.slug}}" {% if userRole.inRole(role.slug) %} CHECKED {% endif %}{% if user.id == 1 and role.id == 1 %} DISABLED {% endif %}>
                                            {{role.name}}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>

                            <label>User Permissions</label>
                            <div id="permissionsRow">
                                {% for key,perm in user.permissions %}
                                    <div>
                                        <div class="col-xs-5">
                                            <div class="form-group{% if has_error(name) %} has-error{% endif %}">
                                                <input type="text" name="perm_name[]" class="form-control" placeholder="Permission Name" value="{{key}}" required="required">
                                            </div>
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="form-group{% if has_error(name) %} has-error{% endif %}">
                                                <select name="perm_value[]" class="form-control" required="required">
                                                    <option value="true" {% if perm == 1 %}selected{% endif %}>True</option>
                                                    <option value="false" {% if perm == 0 %}selected{% endif %}>False</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-xs-1">
                                            <a class="btn btn-primary btn-danger removePerm"><i class="material-icons">delete</i></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="form-group" style="text-align: center;">
                                <a class="btn bg-teal" id="addPermButton" style="margin-top: 15px;">
                                    <i class="material-icons">settings</i><span>Add New Permission</span>
                                </a>
                            </div>
                        </div>


                        <div class="col-md-4 col-md-offset-4">
                            <div class="form-group">
                                <button type="submit" class="btn bg-blue form-control">Add New User</button>
                            </div>
                        </div>
                        {{ csrf() }}
                        <input type="hidden" name="user_id" value="{{user.id}}" />
                    </form>
                </div>

            </div>




        {% endblock %}

        {% block javascript %}
            <script>
                $(document).on('click', '#addPermButton', function() {
                    $("#permissionsRow").append(`   <div class="row">
                    <div class="col-xs-5">
                    <div class="form-group">
                    <input type="text" name="perm_name[]" class="form-control" placeholder="Permission Name" required="required">
                    </div>
                    </div>

                    <div class="col-xs-5">
                    <div class="form-group">
                    <select name="perm_value[]" class="form-control" required="required">
                    <option value="true">True</option>
                    <option value="false">False</option>
                    </select>
                    </div>
                    </div>
                    <div class="col-xs-1">
                    <a class="btn bg-red removePerm"><i class="material-icons">delete</i></a>
                    </div>
                    </div>
                    `);
                $("body").getNiceScroll().resize();


            });
            $(document).on('click', '.removePerm', function() {
                $(this).parent().parent().remove();
                $("body").getNiceScroll().resize();
            })
            </script>
            {% endblock %}
