{% extends 'dashboard/base.twig' %}

{% block title %}{{config['site-name']}} || Edit User LPK{% endblock %}

{% block page %}
        <div class="card">
            <div class="header">
                <h2>Edit User LPK</h2>
            </div>
            <div class="body">
                <form class="row" action="{{ currentRoute }}" method="POST" role="form">
                <div class="col-md-6">
                    <div class="form-group form-float{% if has_error('first_name') %} has-error{% endif %}">
                        <div class="form-line">
                            <label class="form-label" for="first_name">First Name</label>
                            <input type="text" name="first_name" class="form-control" id="first_name" value="{% if requestParams.first_name %}{{requestParams.first_name}}{% else %}{{user.first_name}}{% endif %}" required="required">
                            <span class="help-block">{{ error('first_name') }}</span>
                        </div>
                    </div>

                    <div class="form-group form-float{% if has_error('last_name') %} has-error{% endif %}">
                        <div class="form-line">
                            <label class="form-label" for="last_name">Last name</label>
                            <input type="text" name="last_name" class="form-control" id="last_name" value="{% if requestParams.last_name %}{{requestParams.last_name}}{% else %}{{user.last_name}}{% endif %}" required="required">
                            <span class="help-block">{{ error('last_name') }}</span>
                        </div>
                    </div>

                    <div class="form-group form-float{% if has_error('email') %} has-error{% endif %}">
                        <div class="form-line">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" value="{% if requestParams.email %}{{requestParams.email}}{% else %}{{user.email}}{% endif %}" required="required">
                            <span class="help-block">{{ error('email') }}</span>
                        </div>
                    </div>

                    <div class="form-group form-float{% if has_error('username') %} has-error{% endif %}">
                        <div class="form-line">
                            <label class="form-label" for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" value="{% if requestParams.username %}{{requestParams.username}}{% else %}{{user.username}}{% endif %}" required="required">
                            <span class="help-block">{{ error('username') }}</span>
                        </div>
                    </div>

                </div>
                    <div class="col-md-6">
                    <div class="form-group {% if has_error('lpk_id') %} has-error{% endif %}">
                        <select  class="form-control" name="lpk_id">
                            <option  value="{{user.lpk_id}}">{{user.lpk.nama_lpk}}</option>
                            {% for r in lpk %}
                                <option value="{{r.id}}">{{r.nama_lpk}}</option>
                            {% endfor %}
                            </select>
                            <span class="help-block">{{ error('lpk_id') }}</span>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn bg-blue form-control">Edit User</button>
                    </div>
                        
                    </div>
                    {{ csrf() }}
                    <input type="hidden" name="user_id" value="{{user.id}}" />
                    </form>
                </div>

            </div>
{% endblock %}
