{% extends "bkol/bkol.twig" %}
{% block stylesheets %}
<style>
.leftside .hr-theme{
  margin-bottom: 25px;
}
</style>
{% endblock %}

{% block page %}
{% include 'bkol/inc/flash.twig' %}

<div class="lembaga-header bg-purple">
	<div class="container">
		<div class="row">
			<div class="col"> 
				<div class="card mb-3">
                    <div class="row no-gutters text-center text-sm-left">
                        <div class="col-md-4 text-center mb-3">
                            {% if post.logo != ''%}
                            <img class="img-fluid" src="{{base_url}}{{post.logo}}" alt="">
                            {% else %}
                            <img class="img-fluid" src="{{base_url()}}/img/nologo.jpg" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="px-3">
                                <h5 class="card-title card-title-section mb-1">Bursa Kerja Khusus</h5>
                                <h3 class="card-title mb-3 font-weight-bold">{{post.nama_bkk}}</h3>
                                <dl class="attribute-list">
                                	<dd><span class="badge badge-light"><strong>No. Izin :</strong> {{post.no_izin}}</span></dd>
                                	<dd><span class="badge badge-light"><strong>Akreditasi :</strong> {{post.akreditasi}} </span></dd>
                                	<dd><span class="badge badge-light"><strong>Nama Kepala :</strong> {{ post.nama_kepala_bkk}}</span></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

			</div>
			<div class="col">
				
				<div class="card mb-3">
                    <div class="row no-gutters text-center text-sm-left">
                        <div class="col-md-8">
                            <div class="px-4">
                                <dl class="attribute-list attribute-list-right">
									<div class="mb-3">
										<dt class="mb-0">Alamat</dt>
										<dd>{{post.alamat}}</dd>
									</div>

									<div class="mb-3">
										<dt>Hubungi Kami</dt>
										<dd>
											<span><strong>No. Telp :</strong> {{post.no_telp}}</span>
											<span><strong>No. Fax :</strong> {{post.fax}}</span>
											<span><strong>Email : </strong> {% if post.email %}<a href="mailto:{{post.email}}">{{post.email}}</a>{% endif %}</span>
										</dd>
									</div>
                                </dl>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!-- map here -->
                            <div id="instansi-map" class="map-profile-box">
                            	{{post.gmap_embed|raw}}
                            </div>
                        </div>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>

<div class="lembaga-profile py-3 py-sm-5">
	<div class="container">
		<div class="row">
			<div class="col">
				{{post.profile_bkk|raw}}
			</div>
		</div>
	</div>
</div>

<div class="bg-white">
<div id="home" class="container pb-5">
	<div class="row">
		<div class="col-xl-4 order-1 col-sm-4 order-2">
			<div class="row sidebar">
				<div class="col-sm-12 p-3">
					<div class="hr-theme ">
						<div class="hr-title">
							<h5 class="title-section">PROGRAM KEAHLIAN</h5>
						</div>
						<div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
					</div>

					<ul class="kategori-list">
						{% for r in post.kompetensikeahlian %}
						<li class="d-flex justify-content-start align-items-center">
							{{r.sk.nama}}
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-sm-12 p-3">
					<div class="hr-theme ">
						<div class="hr-title">
							<h5 class="title-section">FASILITAS</h5>
						</div>
						<div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line-2.png')"></div>
					</div>

					<div class="kategori-list">
						{{post.fasilitas_bkk|raw}}
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-8 col-sm-8">
			<div class="row leftside">
				<!-- berita terbaru section -->
				{% if berita|length != 0%}
				<div class="col-sm-12 p-3">
						<div class="hr-theme ">
							<div class="hr-title"><h5 class="title-section">Berita Terbaru</h5></div>
							<div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line.png')"></div>
						</div>

						<div class="row posts-loop" data-jplist-group="lists-lowongan">
							{% for post in berita %}
							<div class="col-md-6" data-jplist-item>
								<div class="card mb-3">
									<div class="row no-gutters">
										<div class="col-md-4">
											<a href="{{path_for('detail-berita', {'year': post.publish_at|date("Y"), 'month': post.publish_at|date("m"), 'day': post.publish_at|date("d"), 'slug': post.slug})}}">
						                        <img loading="lazy" alt="Card image cap" class="card-img" src="{{base_url}}{{ post.featured_image }}">
						                    </a>
										</div>
										<div class="col-md-8">
											<div class="pt-sm-0 pt-2 pr-2 pb-2 pl-0 pl-sm-2">
												<a class="card-title-link" href="{{path_for('detail-berita', {'year': post.publish_at|date("Y"), 'month': post.publish_at|date("m"), 'day': post.publish_at|date("d"), 'slug': post.slug})}}">
							                        <h5 class="card-title">{{ post.title }}</h5>
							                    </a>
												<p class="card-text"><small class="text-muted">{{ post.publish_at|date('d/m/Y - h:i:s A') }}</small></p>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

						<div class="row">
			              <div class="col">
			                <div class="text-center">
			                  <div class="col flex flex-wrap justify-content-center">
			                    <!-- pagination control -->
			                    <nav data-jplist-control="pagination" data-group="lists-lowongan" data-items-per-page="6"
			                      data-current-page="0" data-disabled-class="disabled" data-selected-class="active" data-jump="top"
			                      data-name="pagination1" class="mb-2 mr-3">
			                      <!-- first and previous buttons -->
			                      <ul class="pagination d-inline-flex" style="margin-top: 20px;">
			                        <li class="page-item d-none d-sm-none d-lg-inline-block" data-type="first">
			                          <a class="page-link" href="#">«</a>
			                        </li>
			                        <li class="page-item" data-type="prev">
			                          <a class="page-link" href="#">‹</a>
			                        </li>
			                      </ul>
			                      <!-- pages buttons -->
			                      <ul class="pagination d-none d-sm-none d-lg-inline-flex" data-type="pages">
			                        <li class="page-item" data-type="page">
			                          <a class="page-link" href="#">{pageNumber}</a>
			                        </li>
			                      </ul>

			                      <!-- next and last buttons -->
			                      <ul class="pagination d-inline-flex">
			                        <li class="page-item" data-type="next">
			                          <a class="page-link" href="#">›</a>
			                        </li>
			                        <li class="page-item d-none d-sm-none d-lg-inline-block" data-type="last">
			                          <a class="page-link" href="#">»</a>
			                        </li>
			                      </ul>

			                      <!-- information labels -->
			                      <span data-type="info" class="d-none d-sm-none d-md-inline-flex badge badge-secondary ml-3 p-2">
			                        {startItem} - {endItem} of {itemsNumber}
			                      </span>
			                    </nav>

			                  </div>

			                </div>
			              </div>
			            </div>

					
				</div>
				{% endif %}
				<!-- berita terbaru section -->
				{% if agenda|length != 0%}
				<div class="col-sm-12 p-3">
					<div class="hr-theme ">
						<div class="hr-title"><h5 class="title-section">Agenda Kegiatan</h5></div>
						<div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line.png')"></div>
					</div>

					<div class="row posts-loop">
						{% for a in agenda %}
						<div class="col-md-6">
							<div class="card mb-3">
								<div class="row no-gutters">
									<div class="col-md-4">
										<div class="agenda-calendar py-2">
											<span class="date">{{ a.publish_at|date('d')}}</span>
											<span class="month">{{ a.publish_at|date('F')}}</span>
										</div>
									</div>
									<div class="col-md-8">
										<div class="pt-sm-0 pt-2 pr-2 pb-2 pl-0 pl-sm-2">
											<p class="card-text-category text-uppercase mb-1">{{ a.category.name }}</p>
											<a class="card-title-link mb-2" href="{{path_for('minisite-bkk-agenda', {'slug': post.slug})}}">
						                    	<h5 class="card-title font-weight-bold">{{ a.agendatitle }}</h5>
						                    </a>
											<p class="text-small text-muted">Di : <small class="text-muted">{{ a.address }}</small></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				<!-- berita terbaru section -->
				{% if gallery|length != 0%}
				<div class="col-sm-12 p-3">
					<div class="hr-theme ">
						<div class="hr-title"><h5 class="title-section">Galeri Foto</h5></div>
						<div class="hr-line flex-grow-1" style="background-image: url('{{base_url()}}/img/bkol/line.png')"></div>
					</div>

					<div class="row gallery-album">
						{% for a in gallery %}
						<div class="col-md-6 mb-2 mb-sm-0"> 
							<div class="card bg-dark text-white">
								<img src="{{ a.thumb }}" class="card-img" alt="{{ a.title }}">
								<div class="card-img-overlay">
									<a class="galeri-link" href="{{path_for('album-detail', {'year': a.publish_at|date("Y"), 'month': a.publish_at|date("m"), 'day': a.publish_at|date("d"), 'slug': a.slug})}}" data-size="600x400">
										<p class="card-title">{{ a.title }}</p>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}

{% block javascript %}
{% include 'bkol/minisite/js.twig' %}	
{% endblock %}